| Zapraszamy do udziału w badaniu dotyczącym podobieństwa słów w języku polskim.
| &#x0D;Przed Tobą ankieta, która posłuży do przygotowania nowej metody badawczej. Twoje zadanie polegać będzie na podaniu pierwszego skojarzenia do słowa, które pojawi się na ekranie.
| &#x0D;Ankieta jest anonimowa i nie ma w niej dobrych ani złych odpowiedzi. Jeżeli poczujesz się zmęczony, możesz przerwać wypełnianie i powrócić do ankiety później. Przekazane dane (wiek, płeć, wykształcenie) służyć będą jedynie do opracowania wyników dla całej grupy osób badanych.
| &#x0D;Postaraj się odpowiadać możliwie najszybciej.
| &#x0D;Jeżeli wszystko jest jasne, możesz rozpocząć test.
| &#x0D;&#x0D;Zespół Psychologów z Uniwersytetu Jagiellońskiego i Szkoły Wyższej Psychologii Społecznej
