| Dziękujemy za wyrażenie chęci udziału w badaniu.
| &#x0D;&#x0D;Różnimy się pod względem tego co jest dla nas podobne i niepodobne. Może Cię to zdziwi, ale różnice te można dostrzec w odbiorze figur geometrycznych. Interesuje nas w jaki sposób zależą one od płci. Pomożesz? :)
| &#x0D;&#x0D;Ankieta jest anonimowa i nie ma w niej dobrych ani złych odpowiedzi. Nie ma też znaczenia jak szybko ją wypełnisz. Jeżeli poczujesz się zmęczony, możesz przerwać wypełnianie i powrócić do ankiety później.
| &#x0D;&#x0D;Przed Tobą 12 etapów badania. Po ukończeniu każdego z nich nagrodzimy Cię miłą niespodzianką :)
| &#x0D;&#x0D;Studenci Psychologii Stosowanej UJ
