| Dziękujemy za wyrażenie chęci udziału w badaniu.
| &#x0D;Ankieta dotyczy podobieństwa słów. Posłuży ona do stworzenia nowej metody badawczej.
| &#x0D;Ankieta jest anonimowa.
| &#x0D;&#x0D;Studenci Psychologii Stosowanej UJ